.blogpost {
background: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 20px rgba(0,0,0,5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 80%;
  max-width: 800px; 
  text-align: center;
}

.image {
  width: 100%;   
  height: auto;  
  display: block;
}