.commentrow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;           /* space between text + date */
}

.commenttext {
    flex: 1;            
    word-break: break-word; 
    text-align: left;
}

.date {
    white-space: nowrap; 
    margin-left: 1rem;
}
