.header {
  background-color: #222;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
}

.logo {
  position: fixed;
  top: 0;
  right: 5;
  font-size: 90%;
  color: white;
  margin: 0;
  text-align: right;
  z-index: 100;
}

.navbar {
  position: fixed;
  top: -330px; 
  right: 0;
  width: 200px;
  background-color: #1e293b;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease;
  z-index: 100;
  border: 3px solid white;
}

.navList hr {
  border: 0;
  border-top: 1px solid white;
  width: 100%;          
  margin: 0;             
}


.navbar:hover {
  top: -10;
}

.navList {
  display: flex;
  flex-direction: column; 
  gap: 1rem;            
  padding: 1rem;
  align-items: center;
}

.navList a {
  color: white;
  text-decoration: none;
 



}

.navList a:hover {
  text-decoration: underline;
}
