.box {

background: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 20px rgba(0,0,0,5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 80%;
  max-width: 800px; 
  align-self: center;
  text-align: center;


  
}
.firstBox {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 9rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 20px rgba(0,0,0,5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 80%;
    max-width: 800px; 
    align-self: center;
    text-align:center;

}
.inside :global(img) {
    border: 2px black;
    width: 100%;   
    height: auto;  
    display: block;

}
.inside :global(ul) {
    width: fit-content;  
    margin: 0 auto;      
    padding-left: 1.5rem

}
.inside :global(li) {
    text-align: left;

}

